@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Oswald:wght@200;300;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

@font-face {
  font-family: "S-CoreDream-4";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vitro_core";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 기본적으로 들어갈 css */
h1,
h2,
h3,
a,
ul,
li,
ol,
p,
div,
embed,
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 28px;
  font-weight: normal;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

/* list 장식 제거 */
ul,
li {
  list-style: none;
}

/* 이미지 와 글자의 정렬로 생기는 여백 제거 */
img {
  vertical-align: top;
}

/* i,em,address */
i,
em,
address {
  font-style: normal;
}
input,
button {
  vertical-align: bottom;
  border: none;
}

a {
  text-decoration: none;
}
